body{
	width:80%;
	margin:auto;
}
p{
	color: #888888;
	font: bold 40px arial;
	text-transform:uppercase;
}
.textShadow1{
	text-shadow:1px 2px 3px blue;
}
.textShadow2{
	text-shadow: 1px 1px o #444444,
	2px 2px o #444444,
	3px 3px o #444444,
	4px 4px o #444444;
}
.textShadow3{
	text-shadow:1px 1px o pink,
	2px 2px o red,
	3px 3px o yellow,
	4px 4px o blue,
	5px 5px o green;
}
.textShadow4{
	text-shadow:-1px -2px 2px black,
	1px 2px 2px black;
}
.textShadow5{
	text-shadow:
	-1px -2px o black,
	1px 2px 20px black;
}
